/** 
 *
 * Template Joomla! components code
 *
 **/

/**
 *
 * Common component rules
 *
 **/

.hidelabeltxt {
	display: none;
}
.form-limit,
.display-limit {
	float: right;
	margin: 20px 0;
}
.form-limit select,
.display-limit select {
	width: 64px;
}
.btn-toolbar.article-info {
	border-top: 4px solid #eee;
	padding: 10px 0;
}
#gk-content hr {
	display: none;
}
#gk-content h2 small {
	clear: both;
	display: block;
	font-size: 11px;
	line-height: 1.0;
}
.gk-article-content {
	font-size: 14px;
}
// messages
body > .container-fluid.gk-message .alert {
	margin: 15px 0;
}
/**
 *
 * com_contact component
 *
 **/
 
.contact fieldset legend {
	font-size: 11px;
}

.contact .jicons-icons {
	display: none;
}

.contact .contact-position dd,
.contact .contact-address dd {
	margin: 8px 0;
}

/**
 *
 * com_content component
 *
 **/
 
/* single article */
.item-page {
	position: relative;
}
.item-page aside {
	float: left;
	position: absolute;
	width: 85px;
}
.item-image {
	margin: 0 0 20px 0;
	width: 100%;
}
.gk-article {
	font-size: 14px;
	line-height: 26px !important;
	margin: 0 0 56px 116px;
}
.item-page .item-page {
	min-height: 400px;
}
.item-page time {
	display: block;
	width: 66px;
	height: 66px;
	line-height: 52px;
	margin: 0 0 0 8px;
	padding: 6px;
	text-align: center;
	background: #ffb251;
	font-size: 48px;
	font-weight: 600;
	color: #fff
}
.item-page time span {
	display: block;
	font-size: 18px;
	line-height: 0;
}
.article-info {
	margin-bottom: 0;
	text-align: right;
	font-size: 11px
}
.article-info dd {
	margin: 0 0 12px;
}
.gk-item-page .gk-article {
	min-height: 400px;
}
.gk-article .article-header {
	clear: both;
	color: #444;
	font-size: 48px;
	line-height: 52px;
	margin: 0 0 24px;
}
.gk-article .item-image + .article-header,
.gk-article .img-intro-left + .article-header,
.gk-article .img-intro-none + .article-header,
.gk-article .img-intro-right + .article-header  {
	margin-top: 32px;
}
.gk-article .article-header a {
	color: #000
}
.gk-article .article-header a:hover {
	color: #77AAEE
}
.gk-article .content-links {
	margin: 32px 0 0
}

/* all categories */
.cat-items ul {
	list-style-type: none;
}
.cat-items li {
	clear: both;
}
.cat-items li h4 {
	float: left;
}

/* archive */
.archive .filter-search {
	float: right;
}
.archive .filter-search select {
	margin-right: 10px;
	width: 100px;
}


/**
 *
 * com_finder component
 *
 **/

#advancedSearch {
	font-size: 11px;
}
#advancedSearch > div {
	border: 1px solid #eee;
	.border-radius(3px);
	margin: 10px 0;
	padding: 10px 15px;
}
#search-results {
	margin: 20px 0 40px 0;
}
#search-results .result-title {
	font-size: 18px;
	margin: 0 0 10px 0;
}
#finder-filter-select-list {
	list-style-type: none;
	margin-left: 0;
}
#finder-filter-select-list li {
	padding: 0 0 5px 0;
}
#finder-filter-select-list label {
	min-width: 135px;
	padding-right: 10px;
	text-align: right;
}
/**
 *
 * com_search component
 *
 **/

#searchForm label {
	display: inline-block;
	margin-left: 5px;
	margin-right: 10px;
}
#searchForm fieldset div {
	padding: 10px 0;
}
#searchForm legend {
	font-size: 12px;
	margin-bottom: 5px;
}
.search-results {
	clear: both;
}
.search-results .result-title {
	font-size: 18px;
	margin: 0 0 10px 0;
}
/**
 *
 * com_wrapper component
 *
 **/
 
.contentpane iframe {
	border: 1px solid #e5e5e5;
}
/**
 *
 * com_weblinks and com_newsfeeds component
 *
 **/

.categories-list .item-title {
	display: block;
	margin-bottom: 10px;
}
.categories-list li .item-title {
	margin-bottom: 0px;
}
.contact-category .cat-children ul,
.weblink-category .cat-children ul,
.categories-list ul {
	list-style-type: none;
	margin-left: 0;
}
.contact-category .cat-children ul ul,
.weblink-category .cat-children ul ul,
.categories-list ul ul {
	clear: both;
	margin-left: 20px;
}
.contact-category .cat-children ul li,
.weblink-category .cat-children ul li,
.categories-list ul li {
	font-size: 18px;
	line-height: 1.4;
}
.contact-category .cat-children ul li,
.weblink-category .cat-children ul li,
.categories-list ul li li {
	font-size: 14px;
}
.contact-category .cat-children ul li li,
.weblink-category .cat-children ul li li,
.categories-list ul li li li {
	font-size: 12px;
}
.contact-category .cat-children dl,
.weblink-category .cat-children dl,
.category-desc,
.categories-list dl {
	color: #666;
	font-size: 11px;
}
.contact-category .cat-children dt,
.contact-category .cat-children dd,
.weblink-category .cat-children dt,
.weblink-category .cat-children dd,
.categories-list dt,
.categories-list dd {
	float: left;
}
.newsfeed .feed-description {
	border-bottom: 1px solid #e5e5e5;
	color: #888;
	font-size: 16px;
	margin: 10px 0 20px 0;
	padding: 0 0 10px 0;
}
.newsfeed > ol {
	list-style-type: none;
	margin: 0;
}
.newsfeed > ol > li {
	border-top: 1px solid #e5e5e5;
	font-size: 18px;
	padding: 20px 0;
}
.newsfeed > ol > li:first-child {
	border-top: none;
}
.newsfeed > ol > li > a {
	display: block;
	padding: 0 0 15px 0;
}
.newsfeed > ol > li .feed-item-description {
	font-size: 12px;
}

/**
 *
 * com_users component
 *
 **/

.profile dl dt,
.profile dl dd {
	line-height: 21px;
	padding: 6px 0;
}
.reset fieldset,
.remind fieldset {
	margin-top: 50px;
}

/**
 * 
 * Plugins 
 *
 **/

/* Caption plugin */
div.img_caption {
	border: 1px solid #eee;
	.border-radius(5px);
	padding: 15px 10px 5px 10px;
}
p.img_caption {
	clear: both;
	color: #888;
	font-size: 11px;
	line-height: 1.6;
	padding-top: 10px;
	text-align: center;
}
/* Page Break plugin */
.article-index {
	margin-left: 40px;
}
.article-index h3 {
	font-size: 20px;
	margin-bottom: 10px;
}
.pagenavcounter {
	color: #999;
	font-size: 11px;
	margin: 10px 0 30px 0;
}
.toclink.active {
	color: #333;
	font-weight: bold;
}

/* Social API */
#gkSocialAPI {
	border-top: 1px solid #e5e5e5;
	margin: 20px 0 10px;
	padding: 20px 0 0;
	clear: both;
}
#gkSocialAPI > iframe,
#gkSocialAPI > #___plusone_0 {
	position: relative;
	top: -5px;
}
#gkSocialAPI #___plus_0 {
	vertical-align: top;
	position: relative;
	margin-right: 10px !important;
	top: -5px;
}
#fb-auth small {	
	background: transparent url('../images/fb_icon.png') no-repeat 0 0;
	display: block;
	float: left;
	position: relative;
	text-indent: -9999px;
	top: 2px;
	width: 16px;
}

/* Newsflash */
ul.latestnews li {
	border-bottom: 1px solid #e5e5e5;
	padding: 8px 0!important;
}