body {
  background:#fff;
  font:normal 14px/18px Tahoma, sans-serif;
  color:#444;
  max-width:665px;
}
a {
  text-decoration:none;
  color:#000;
  border-bottom:1px dotted #000;
}
#gk-print-top {
  border-bottom:3px solid #e5e5e5;
  margin:0 0 30px 0;
  text-align:center;
}
#gk-print-bottom {
  border-top:1px solid #e5e5e5;
  font-size:11px;
  font-style:italic;
  margin:30px 0 0 0;
  padding:10px 0;
  text-align:center;
}
.item-page aside {
  background:#eee;
  border:1px solid #ccc;
  overflow:hidden;
  padding:10px 20px;
}
.item-page aside time, .item-page aside .btn-group { display:none; }
.article-info {
  background:#eee;
  font-size:11px;
  margin:0 !important;
}
.article-info > * {
  float:left;
  margin:0 10px 0 0 !important;
  padding:0 !important;
}
.article-info > dt { clear:both; }
.article-info > dd { font-weight:bold; }
